/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --main-color: #000028;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --font-family: "IBM Plex Mono", sans-serif;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-main-text: 18px;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__decoration {
  color: var(--accent-color);
}

.page.theme_dark .decorated-zone::after {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page.theme_dark .decorated-zone::before {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.page.theme_dark .header__decoration {
  display: block;
}

.page.theme_dark .header__theme-menu-list {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  --accent-color: rgba(255, 0, 112, 0.4);
  border: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.page.theme_dark .header__title {
  --title-color: #db00ff;
  --accent-color: #ff0070;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page.theme_dark .title-decor {
  --accent-color: #ff0070;
  --main-color: #000028;
  background-color: var(--accent-color);
  color: var(--main-color);
}

.page.theme_dark .content__title {
  color: var(--accent-color);
}

.page.theme_dark .content__list-text {
  color: var(--main-text-color);
}

.page.theme_dark .content__list-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.page.theme_dark .content__list-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.page.theme_dark .content__list-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.page.theme_dark .content__list-link:focus-visible {
  outline: none;
  border: 1px solid var(--main-text-color);
}

.page.theme_dark .footer__title {
  --title-color: #db00ff;
  --accent-color: #ff0070;
  color: var(--title-color);
  text-shadow: 2px 4.5px 0 var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-color: #000028;
    --title-color: #db00ff;
    --main-text-color: #f1b2ce;
  }
  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .header__decoration {
    color: var(--accent-color);
  }

  .decorated-zone::after {
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
  }

  .decorated-zone::before {
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
  }

  .header__theme-menu-list {
    color: var(--accent-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:hover {
    --accent-color: rgba(255, 0, 112, 0.4);
    border: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-color);
  }

  .header__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .title-decor {
    background-color: var(--accent-color);
    color: var(--main-color);
  }

  .content__title {
    color: var(--accent-color);
  }

  .content__list-text {
    color: var(--main-text-color);
  }

  .content__list-link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .content__list-link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .content__list-link:hover {
    border-bottom: 1px solid var(--main-text-color);
  }

  .content__list-link:focus-visible {
    outline: none;
    border: 1px solid var(--main-text-color);
  }

  .footer__title {
    color: var(--title-color);
    text-shadow: 2px 4.5px 0 var(--accent-color);
  }
}
