/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --shadow-color: #FF0070;
  --title-color: #FFC2E6;
  --main-color: #353430;
  --background-color: #fff1f7;
}

.page.theme_light .header__decoration {
display: none;
}