/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --main-color: #000028;
  --title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --font-family: 'IBM Plex Mono', sans-serif;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-main-text: 18px;
}
